@charset "utf-8";

/*www.zheyitianshi.com 好用的企业内容管理系统*/
/* Style Reset */
@font-face {
  font-family: 'iconfont';  /* project id 1577032 */
  src: url('//at.alicdn.com/t/font_1577032_ioacbc7xulg.eot');
  src: url('//at.alicdn.com/t/font_1577032_ioacbc7xulg.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1577032_ioacbc7xulg.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1577032_ioacbc7xulg.woff') format('woff'),
  url('//at.alicdn.com/t/font_1577032_ioacbc7xulg.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1577032_ioacbc7xulg.svg#iconfont') format('svg');
}
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.search_s {
	font-family: "iconfont" !important;
	font-size: 26px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}


html {
	font-size: 625%;
	-webkit-text-size-adjust: none;
	max-height: 100%
}

body {
	font-size: 0.16rem;
}

body,
p,
h1,
ul,
li,
input,
img,
figure,
h3,
h1,
h2,
dl,
dd,
dt {
	margin: 0;
	padding: 0;
}

ul,
ol,
li,
dl,
dt,
dd {
	list-style: none;
}

a {
	text-decoration: none;
	outline: 0px;
}

fieldset,
img {
	border: 0;
}

img {
	display: block;
	max-width: 100%
}

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="reset"],
input[type="button"],
textarea {
	-webkit-appearance: none;
}

.clear {
	clear: both;
	width: 100%;
}

/* common */
.content {
	min-height: 6rem;
	overflow: hidden;
	font-size: 0.16rem;
	padding-bottom: 0.75rem;
	width: 92%;
	margin: 11px auto;
}

/* sub header */
.sea-btn {
	width: 9.375%;
	margin-left: 3.125%;
	float: left;
	height: 100%;
	font-size: 0.4rem;
	color: #242424;
	overflow: hidden;
}

.nav-btn {
	width: 14.0625%;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	font-size: 0.4rem;
	line-height: 0.808rem;
	color: #fff;
	text-align: center;
	overflow: hidden;
}

.home-btn {
	width: 14.0625%;
	left: 1.09375%;
	top: 0;
	position: absolute;
	height: 100%;
	font-size: 0.4rem;
	line-height: 0.808rem;
	color: #cecece;
	text-align: center;
	overflow: hidden;
	display: block;
}

.top-nav {
	position: absolute;
	right: 1.09375%;
	top: 100%;
	width: 14.0625%;
}

.top-home {
	position: absolute;
	left: 1.09375%;
	top: 0;
	width: 14.0625%;
	font-size: 0.4rem;
	line-height: 0.82rem;
	color: #333;
	text-align: center;
	overflow: hidden;
}

.top-title {
	width: 70%;
	position: absolute;
	left: 15%;
	top: 0;
	font-size: 0.3rem;
	line-height: 0.808rem;
	text-align: center;
	color: #fff;
	overflow: hidden;
}

.class-btn {
	position: absolute;
	right: 16%;
	top: 0%;
	width: 18.0625%;
	font-size: 0.24rem;
	line-height: 0.82rem;
	color: #fff;
	text-align: center;
	overflow: hidden;
}

.class-btn span.commonfont {
	font-size: 0.28rem
}

/* footer */
.footer {
	width: 100%;
	height: 0.7rem;
	position: fixed;
	z-index: 9999;
	bottom: 0;
	left: 0;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.foot {
	background: #64A657 !important;
	width: 100%;
	height: 0.8rem;
	z-index: 99;
}

.foot-relative {
	position: relative;
	width: 100%;
	height: 0.7rem;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.foot a {
	display: block;
	float: left;
	width: 25%;
	color: #fff;
	text-align: center;
}

.foot a span {
	display: inline-block;
	text-align: center;
	padding-right: 0.05rem;
	font-size: 0.3rem;
	line-height: 0.7rem;
	color: #fff;
}

.foot a h3 {
	display: inline-block;
	text-align: center;
	font: 0.21rem/0.5rem "microsoft yahei";
}

.common-search {
	width: 92.1875%;
	position: absolute;
	z-index: 100;
	left: 3.90625%;
	bottom: 0.8rem;
	height: 0.533rem;
	border: 1px solid #333;
	background: #fff;
	display: none;
}

.common-pro-search {
	width: 90%;
	height: 0.533rem;
	background: #fff;
	margin: 2% auto;
}

.common-text {
	float: left;
	border: 0;
	background: #fff;
	width: 84.45%;
	height: 0.533rem;
	text-indent: 0.1rem;
	font: 0.16rem/0.533rem "microsoft yahei";
	border-radius: 0;
}

.common-submit {
	float: right;
	width: 15.55%;
	border: 0;
	font-size: 0.36rem;
	line-height: 0.533rem;
	color: #fff;
	height: 0.533rem;
	border-radius: 0;
	background: none;
	background: #333;
}

/* nav */
body {
	position: relative;
	width: 100%;
	background: #fff;
	height: 100%;
}

.allpage {
	position: relative;
	z-index: 10;
	background: #fff;
	height: auto;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	right: 0;
}

.clicked {
	right: 220px;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	left: auto;
}

.nav {
	width: 220px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
}

.fixed {
	background: #64A657;
	width: 220px;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch
}

.nav li {
	width: 220px;
	margin: 0 auto;
	border-bottom: 1px solid #303030;
}

.nav li a {
	display: block;
	width: 100%;
	font: 700 16px/50px '微软雅黑';
	color: #fff;
}

.nav li a span {
	margin-right: 3%;
	font-size: 24px
}

.nav li p {
	text-indent: 70px;
}

.nav li:last-child {
	margin-bottom: 20%;
}

#allmap {
	width: 100%;
	height: 6rem;
	font-size: 0.18rem
}

.share {
	width: 160px;
	margin: 0.5rem auto;
}

.black-fixed {
	position: fixed;
	z-index: 99;
	right: 0;
	width: 0;
	top: 0;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	text-align: right;
	font-size: 0.4rem;
	color: #fff;
	line-height: 2;
	right: 0;
	overflow: hidden
}

.black-clicked {
	width: 100%;
	padding-right: 2%;
	right: 220px;
}

/*font*/
@font-face {
	font-family: "commonfont";
	src: url('../font/common.woff') format('woff'), url('../font/common.ttf') format('truetype');
}

.commonfont {
	font-family: "commonfont" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

/* banner */
.big-pic {
	width: 100%;
	position: relative;
	z-index: 2;
	margin: 0 auto;
}

.big-pic-in {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}

.pic-list {
	position: relative;
	height: auto;
	-webkit-transform: translate3d(0, 0, 0);
	z-index: 0;
}

.pic-list img {
	float: left;
	height: auto;
	width: 100%;
	display: block;
}

.big-pic2 .pic-list {
	width: 200%;
}

.big-pic2 .pic-list img {
	width: 50%;
}

.big-pic3 .pic-list {
	width: 300%;
}

.big-pic3 .pic-list img {
	width: 33.333334%;
}

.big-pic4 .pic-list {
	width: 400%;
}

.big-pic4 .pic-list img {
	width: 25%;
}

.slide-dot {
	width: 100%;
	text-align: center;
	height: 16px;
	padding-top: 4px;
	overflow: hidden;
	position: absolute;
	bottom: 5px;
	display: none
}

.slide-dot span {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	vertical-align: top;
	z-index: 10;
	margin: 0 7px;
	background: #fff
}

.slide-dot span.slide-dot-cur {
	z-index: 10;
	vertical-align: top;
	background: #6b1b55
}

.transition {
	-moz-transition: -moz-transform 0.3s ease-out;
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-o-transition: -o-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}

/* top class */
.type {
	width: 100%;
	top: 0.808rem;
	position: fixed;
	background: #232323;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	height: 3.9rem;
	padding: 0.1rem 0;
	display: none
}

.type li {
	width: 90%;
	background: #fff;
	font: 0.2rem/0.46rem "microsoft yahei";
	margin: 2% auto;
	overflow: hidden;
	position: relative;
}

.type li a {
	display: block;
	float: left;
	width: 60%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 0 4%;
	color: #666
}

.type li span.commonfont {
	font-size: 0.3rem;
	line-height: 0.46rem;
	display: block;
	width: 16%;
	text-align: center;
	color: #666;
	position: absolute;
	top: 0;
	right: 0;
}

.type li dl {
	float: left;
	border-top: 2px solid #232323;
	width: 100%;
	display: none
}

.type li dl dd {
	overflow: hidden
}

.type li dl dd a {
	width: 100%
}

.type h1 {
	font: 0.2rem/2 "microsoft yahei";
	width: 90%;
	margin: 0 auto;
	color: #fff;
}

/* subpage */
.about,
.view {
	width: 100%;
	margin: 2% auto;
	font: 0.2rem/2.4 "microsoft yahei";
	color: #1d1d1d;
	text-align: justify;
}

.view h1 {
	width: 100%;
	text-align: center;
	font: 0.3rem/0.5rem "microsoft yahei";
	color: #393939;
}

.view img {
	max-width: 100%;
	display: inline
}

.suojin_w {
	width: 92%;
	margin: 0 auto;
}

.about .suojin_w p {
	text-indent: 2em;
	width: 100%;
}

.page {
	display: block;
	width: 100%;
	height: 0.38rem;
	font: 0.2rem/0.38rem "microsoft yahei";
	color: #777;
	background: #ddd;
	border-radius: 0.38rem;
	margin: 2% auto;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 0.1rem;
}

.back {
	display: block;
	width: 33.57%;
	margin: 2% auto;
	height: 0.4rem;
	border-radius: 0.4rem;
	font: 0.2rem/0.4rem "microsoft yahei";
	color: #393939;
	text-align: center;
}

/* product */
.product-top {
	width: 91.25%;
	margin: 2% auto;
	border-bottom: 1px solid #c9c9c9;
	height: 0.5833rem;
	font: 0.2rem/0.5833rem "microsoft yahei";
	color: #7b7b7b;
}

.product-top p {
	float: left;
}

.product-top p span {
	color: #3e74ce
}

.product-top-right {
	float: right;
	color: #7b7b7b
}

.product-top-right a {
	font-size: 0.3rem;
	color: #272727;
	vertical-align: middle
}

.product-top-right a.show {
	color: #3e74ce
}

/* news */
/*
.news1,.news2,.news3{width:100%;height:auto;overflow:hidden;margin:2% auto;}
.news1 li{width:100%;height:0.691rem;overflow:hidden}
.news1 li a,.news2 li a,.news3 li a{display:block;width:100%;height:0.691rem;overflow:hidden;font:0.2rem/0.691rem "microsoft yahei"}
.news1 li span:nth-child(1),.news2 li span:nth-child(1),.news3 li span:nth-child(1){display:block;float:left;width:60%;margin-left:4%;text-overflow: ellipsis;overflow:hidden;white-space: nowrap;color:#1d1d1d}
.news1 li span:nth-child(2),.news2 li span:nth-child(2),.news3 li span:nth-child(2){display:block;float:right;margin-right:4%;color:#9f9f9f}
.news1 li:nth-child(even){background:#f2f2f2;}
.news2 li{width:100%;height:0.691rem;overflow:hidden;border-bottom:1px solid #ddd;}
.news3 li{width:100%;height:0.691rem;overflow:hidden;border-bottom:1px dashed #ddd;}
*/
.imore,
.back {
	display: block;
	width: 36%;
	margin: 2% auto;
	overflow: hidden;
	border-radius: 0.3rem;
	background: red;
	text-align: center;
	color: #fff;
	font: 0.18rem/2 "microsoft yahei";
	clear: both
}

.imore:before,
.back:before {
	content: "";
	clear: both;
}

.common_news {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 2% auto;
}

.news1,
.news1 a,
.news2,
.news2 a {
	width: 100%;
	height: auto;
	overflow: hidden;
	font: 0.2rem/0.691rem "microsoft yahei";
	display: block;
}

.news1,
.news2 {
	width: 92%;
	margin: 0 auto
}

.news1 a span:nth-child(1),
.news2 a span:nth-child(1) {
	display: block;
	float: left;
	width: 70%;
	height: 0.691rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: #1d1d1d
}

.news1 a span:nth-child(2),
.news2 a span:nth-child(2) {
	display: block;
	float: right;
	width: 29%;
	height: 0.691rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: right;
	color: #9f9f9f
}

.news2 div {
	width: 100%;
	font: 0.18rem/0.3rem "microsoft yahei";
	color: #666;
	max-height: 0.9rem;
	overflow: hidden;
}

.news3 {
	width: 96%;
	margin: 2% auto;
	height: auto;
	overflow: hidden;
}

.news3>a {
	display: block;
	float: left;
	width: 33%;
	height: auto;
	overflow: hidden
}

.news1>a>img {
	display: block;
	width: 100%
}

.news3>h1 {
	display: block;
	float: left;
	width: 64%;
	margin-left: 3%;
	overflow: hidden
}

.news3>h1>a {
	display: block;
	width: 100%;
	height: 0.3rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font: 0.2rem/0.3rem "microsoft yahei";
	color: #333;
}

.news3>div {
	float: left;
	width: 64%;
	margin-left: 3%;
	overflow: hidden;
	font: 0.18rem/0.2rem "microsoft yahei";
	max-height: 0.8rem;
	color: #999;
	margin-top: 2%
}

.news4 {
	width: 50%;
	float: left;
	height: auto;
	overflow: hidden;
	margin: 2% auto;
}

.news4 a {
	display: block;
	width: 80%;
	margin: 0 auto;
}

.news4 a img {
	display: block;
	width: 100%;
}

@media (max-width:767px) {
	.news4 a img {
	height: 136px;
	}
}

@media (min-width:768px) {
	.news4 a img {
	height: 226px;
	}
}


.news4 a span {
	display: block;
	width: 100%;
	text-align: center;
	font: 0.2rem/0.3rem "microsoft yahei";
	color: #666;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-top: 6%
}

/* case */
.case {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 2% auto
}

.case li {
	width: 100%;
	height: auto;
	padding: 2% 0;
	border-bottom: 1px solid #ccc;
	overflow: hidden
}

.case li>a {
	display: block;
	width: 35.46875%;
	float: left;
	margin: 0 3.75% 0 4.6875%;
	border: 1px solid #fff;
}

.case li>a img {
	display: block;
	width: 100%
}

.case li h1 {
	float: left;
	width: 51.875%;
	height: 0.35rem;
	font: 0.2rem/0.35rem "microsoft yahei";
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.case li h1 a {
	color: #232323
}

.case li div {
	float: left;
	width: 51.75%;
	height: 1.1rem;
	overflow: hidden;
	font: 0.18rem/0.28rem "microsoft yahei";
	color: #1d1d1d
}

/* for white */
.white-bg {
	background: #fff;
}

@media all and (min-width:640px) {
	.content {
		width: 640px;
		margin: 0 auto;
		position: relative;
	}
}

@media only screen and (max-width: 479px) and (min-width: 321px) {
	html {
		font-size: 70px;
	}
}

@media only screen and (max-width: 320px) {
	html {
		font-size: 60px;
	}
}

.share {
	bottom: 2%;
	display: none;
	z-index: 9;
	position: fixed !important;
	width: 100%;
}

::-webkit-scrollbar {
	width: 0px;
	height: 5px;
}

/*--------------aitecms 企业建站系统---------------*/
div.none {
	display: none !important;
}

/* pages */
.pages {
	width: 100%;
	height: 28px;
	margin: 14px 0;
	clear: both;
}

.pages ul {
	float: right;
	margin: 0 15px 0 0;
	display: inline;
}

.pages ul li {
	float: left;
	display: inline;
	margin: 0 7px 0 0;
	font: 500 14px/28px "宋体";
	color: #404040;
	width: 26px;
	height: 26px;
	border: 1px solid #206114;
	background: #206114;
	text-align: center;
}

.pages ul li a {
	color: #fff;
	display: block;
	width: 26px;
	height: 26px;
}

.pages ul li.prev {
	width: 64px;
	height: 26px;
	/*background: url(../img/prev_page.jpg) 6px center no-repeat #206114;*/
	/*text-indent: 13px;*/
	border: 1px solid #206114;
	text-align: center;
    line-height: 26px;
}

.pages ul li.prev a,
.pages ul li.next a {
	display: block;
	width: 64px;
	height: 26px;
}

.pages ul li.ok a {
	display: block;
	width: 55px;
	height: 28px;
}

.pages ul li.next {
	width: 64px;
	height: 26px;
	/*background: url(../img/next_page.jpg) 54px center no-repeat #206114;*/
	/*text-indent: 6px;*/
	border: 1px solid #206114;
	text-align: center;
    line-height: 26px;
}

.pages ul li.clickli {
	background: #73ab00;
	border: 1px solid #73ab00
}

.pages ul li.clickli a {
	color: #fff
}

.pages ul li.dot {
	border: 0;
	background: none;
	color: #64728f;
}

.pages ul li.allpage {
	width: 136px;
	border: 0;
	background: none;
}

.pages ul li.ok {
	background: #206114;
	width: 53px;
	height: 26px;
	float: left;
	border: 1px solid #206114
}

.pages ul li.ok a {
	color: #fff
}

.header .title_m{
	font-size: 19px;
	font-family: 楷体;
	color: #fff;
}
.webchat{
	display: flex;
	justify-content: center;
}
.webchat img{
	max-width: 59%;
	max-height: 29%;
	
}